
.open-sans-raleway {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}

body {
/*Resets the page default margin and padding for the entire html file, allowing more control when styling specific elements.*/
    margin: 0; 
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffff;
}

/*===Shared Button style===*/
.btn-nav{
    background-color: rgb(45, 0, 248);
    margin: 50px 150px 0 909px;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.header{
  background-image: url("Assets/Hero-bg.png");
  background-position: center;
  background-size: contain;
  padding-bottom: 150px;

}

/*===NAVBAR PORTION===*/
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    font-size: 34px;
    margin: 50px 0 0 150px;
    font-weight: bold;
    opacity: 100%;
    color: rgb(45, 0, 248);
}

/*===HERO SECTION===*/
.hero {
    text-align: center;
    margin-top: 100px;
}

.btn-hero{
    background-color: rgb(45, 0, 248);
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  
}

.hero-h1{
  font-size: 64px;
}

/*===SEE IT IN ACTION and Webflow===*/

.see-action{
    display:flex;
    margin-top: 50px;
}

